/**********meyer reset*************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********************************************/
body{
    margin: 0;
    padding: 0;
}
#hawk {
    height: 35%;
    width: 35%;
    margin: 0 auto;
}
nav#welcome-nav{
  text-align: center;
  background-color: #cc0000;
  position: relative;
  top: 0;
  max-width: 100%;
  padding: 5px;
  margin: 0;
}
nav#welcome-nav ul{
  text-align: center;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav#welcome-nav ul li{
  float: left;
  text-align: center;
  margin: 0;
  width: auto;
}
nav#welcome-nav ul li a{
  text-align: center;
  display: block;
  padding: 1em; 
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif, arial;
}
#logoIIT{
  display: block;
  background-color: black;
  padding: 1%;
}
.iitImage{
  width: 400px;
  display: block;
  margin: auto;
  padding-bottom: 3px;
}
.content{
  max-width: 100em;
  height: auto;
  margin: 1em auto;
}
#leftcolumn{
	float: left;
	width: 30%;
}
#rightcolumn{
	float: right;
	width: 70%;
}
#slideShow {
  /* Main wrapper for all images */
  float: left;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
/****************media queries***************/
@media screen and (min-width: 320px) and (max-width: 960px) {
    body{
      max-width: 100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 960px) {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      text-align: center;
    }

    li a {
      display: block;
      display: inline-block;
      text-decoration: none;
      text-align: center;
    }
    li a:hover {
      background-color: gray;
      color: white;
   }
}
